/*#loading {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*position: fixed;*/
    /*display: block;*/
    /*z-index: 998;*/
    /*text-align: center;*/
    /*opacity: 1;*/

    /*background: #fff url(../img/flowerLoading.gif) no-repeat center center fixed;*/
    /*background-size: 4.3em 3em;*/
/*}*/
/*#loading > img {*/
    /*position: absolute;*/
    /*width: 2em;*/
    /*height: 2em;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*margin-left: -1em;*/
    /*margin-top: -1em;*/
/*}*/
/*#loading.hidden {*/
    /*opacity: 0;*/
    /*z-index: -999;*/
    /*-webkit-transition: 0.2s opacity 0s, 0s z-index 0.2s; -moz-transition: 0.2s opacity 0s, 0s z-index 0.2s; -ms-transition: 0.2s opacity 0s, 0s z-index 0.2s; -o-transition: 0.2s opacity 0s, 0s z-index 0.2s; transition: 0.2s opacity 0s, 0s z-index 0.2s;*/
/*}*/

/*#loading.show {*/
    /*opacity: 1;*/
    /*z-index: 998;*/
    /*-webkit-transition: 0s z-index 0s, 0.2s opacity 0s; -moz-transition: 0s z-index 0s, 0.2s opacity 0s; -ms-transition: 0s z-index 0s, 0.2s opacity 0s; -o-transition: 0s z-index 0s, 0.2s opacity 0s; transition: 0s z-index 0s, 0.2s opacity 0s;*/
/*}*/



html {
    overflow-y: scroll;
    height: 100%;
    font-size: 16px;
    font-family: Calibri, Helvetica, sans-serif;
    color: #333;
    text-align: center;
    line-height: 1.5em;
    background: url(../img/flowerLoading.gif) no-repeat center center fixed;
    background-size: 4.3em 3em;
}

body {
    width: 100%;
    height: 100%;
    font-size: 1em;
    /*overflow-x: hidden;*/
    opacity: 1; /* fadeIn Fallback */
    /*-webkit-animation: fadeIn 0.25s forward; *//* Chrome, Safari, Opera */
    /*animation: fadeIn 0.5s;*/
}
    /*body.fadeInDelay {*/
        /*opacity: 0;*/
    /*}*/
    /*@-webkit-keyframes fadeIn { 0%{opacity: 0;} 100%{opacity: 1;} }*/
    /*@keyframes fadeIn { 0%{opacity: 0;} 100%{opacity: 1;} }*/



img {
    width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0.5em 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-size: 3.2em;
}
h2 {
    font: 1.7em 'Cinzel', 'Times New Roman', serif;
    font-variant: small-caps;
    margin-bottom: 20px;
    border-bottom: 1px solid #faa602;
}
    h2 span {
        display: block;
        font-size: .7em;
        color: #555;
    }
    h2:after{
        content: url(../img/flowerSmall.png);
        margin: 0 auto -31px;
        display: block;
        width: 42px;
        padding: 10px 0;
        background: #fff;
    }
h3 {
    font: 1.5em 'Cinzel', 'Times New Roman', serif;
    color: #77110f;
}
h4 {
    width: auto;
    display: inline-block;
    font-size: 1.2em;
    padding-bottom: .25em;
    border-bottom: 1px solid #faa602;
}
    h4:after{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
h5 {
    font-size: 1.1em;
    margin-bottom: 0;
    padding: 0 1em;
    text-align: left;
}
h6 {
    display: inline;
    font: bold 1.1em Calibri, Helvetica, sans-serif;
    color: #ff7900;
    text-transform: none;
}
p {
    font-size: 1em;
    text-transform: none;
}
a, a:visited, a:focus, a:hover {
    color: inherit;
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 3px solid #77110f;
    border-bottom: 3px solid #77110f;
    z-index: 10;
}
    header, header #logo, header nav {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    header.notTop{
        position: fixed;
        height: 4em;
    }
    header.notTop #logo {
        height: 2em;
    }
    header.notTop nav {
        margin: 0.85em 0 0;
    }
    header.hidden {
        margin-top: -10em;
    }
    header.subpage {
        background: rgba(0,0,0,0);
        border: none;
        float: left;
    }
        header.subpage #headerInner a {
            float: left;
            padding: 1em;
            margin: 1em 0;
            border-right: 1px solid #186b8e;
            border-left: 1px solid #186b8e;
            background: #eee;
        }
    #headerInner {
        position: relative;
        display: block;
        margin: 0 auto;
        height: 5em;
        max-width: 1400px;
        width: 90%;
        text-align: left;
    }
        #logo {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            height: 3em;
            width: auto;
            padding: 1em;
        }
        nav {
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            height: auto;
            width: auto;
            margin: 1.4em 0;
            }
            nav ul {
                display: block;
                padding: 0;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            nav li {
                list-style-type: none;
                display: inline-block;
                width: auto;
                border: none;
                text-align: center;
            }
            nav ul li a {
                width: auto;
                display: inline-block;
                padding: 0.4em 1.2em;
                margin: 0 -6px 0 -1px; /* Invisible padding correction */
                border-right: 1px solid #77110f;
            }
                nav ul li:last-child a {
                    border-right: none;
                }
                nav a:hover {
                    background: #77110f;
                    color: #fff;
                }
                nav a:active {
                    background: #3c0908;
                }

            /* Mobile Menu Styles */

            #menuToggle {
                display: none;
            }
                #fullClose {
                    display: none;
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    top: 0; right: 0; bottom: 0; left: 0;
                    background: rgba(0,0,0,0);
                    z-index: 9;
                }
                    #fullClose.active {
                        display: block;
                        background: rgba(0,0,0,0.5);
                    }
            @media (max-width: 900px) {
                #menuToggle {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 5em;
                    height: 5em;
                    z-index: 11;
                    cursor: pointer;
                    background: url(../img/hamburger.png) center no-repeat;
                    -webkit-background-size: auto auto;
                    -moz-background-size: auto auto;
                    background-size: auto auto;
                }
                    #menuToggle.active {
                        background: url(../img/closeX.png) center no-repeat;
                    }
                    header.notTop #menuToggle {
                        height: 4em;
                        width: 4em;
                    }
                nav {
                    position: fixed;
                    top: 3.8em;
                    width: 100%;
                    left: -120%;
                    background: #fff;
                    overflow: hidden;
                    border-top: 3px solid #77110f;
                    border-bottom: 3px solid #77110f;
                }
                nav ul {
                    width: 100%;
                    height: auto;
                    padding: 1em;
                }
                nav ul li {
                    width: 100%;
                }
                nav ul li a {
                    display: block;
                    width: 100%;
                    border: none;
                    font-size: 1.2em;
                    padding: 1em 0;

                }

                /* Mobile Menu Toggle On */

                nav.active {
                    height: auto;
                    left: 0;
                }
                nav.active li {
                    border-bottom: #77110f;
                }
                    nav.active li:last-child {
                        border-bottom: none;
                    }
            }
            @media (max-width: 767px) {
                #menuToggle {
                    height: 4em;
                    width: 4em;
                    -webkit-background-size: 50%  40% !important;
                    -moz-background-size: 50%  40% !important;
                    background-size: 50%  40% !important;
                }
                nav {
                    position: fixed;
                    top: 2.8em;
                }
            }


img#heroImage {
    width: 100%;
    height: auto;
    display: block;
    /*margin-top: -6%;*/
}

main {
    margin-top: -1px; /* Some devices/browsers leave a 1px gap here */
    position: relative;
    background: #eee;
    padding: 2em 0 4em; /* Padding-Bottom for Dome Background */
    background: url(../img/bgWoodBrown.jpg) repeat-y 50% 0;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -ms-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
}
    main:after {
        content: ' ';
        display: block;
        position: absolute;
        bottom: 0; right: 0; left: 0;
        width: 100%;
        height: 55px;
        background: url(../img/domeDotSmall.png) center bottom repeat-x;
    }

.linkAnchor {
    height: 0;
    width: 0;
    position: absolute;
    margin-top: -10%;
}

section {
    display: block;
    clear: both;
    position: relative;
    margin: 0 auto 4em;
    max-width: 1400px;
    width: 80%;
}
        section:after {
            content: " ";
            clear: both;
            visibility: hidden;
            display: block;
            height: 0;
            width: 0;
        }



/* ------------------------------------------------------------

    NEW COLUMN SYSTEM

------------------------------------------------------------  */

.column3, .column4, .column6, .column12 {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    /* all columns are fractions of a 96% width */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    .column12 {
        width: 96%
    }
    .column6 {
        width: 48%;
    }
    .column4 {
        width: 32%;
    }
    .column3 {
        width: 24%;
    }

    .mobileHide {
        position: relative;
        overflow: auto;
    }
        @media (max-width: 767px) {
            .mobileHide {
                position: absolute;
                overflow: hidden;
                height: 1px; width: 1px;
                margin: -1px; padding: 0; border: 0;
            }
        }
    .mobileOnly {
        position: absolute;
        overflow: hidden;
        height: 1px; width: 1px;
        margin: -1px; padding: 0; border: 0;

    }
        @media (max-width: 767px) {
            .mobileOnly {
                position: relative;
                overflow: auto;
            }
        }

    @media (max-width:767px) {
        .column3, .column4, .column6, .column12 {
            display: block;
            width: 96%;
            max-width: 550px;
            left: 0 !important;
            right: 0 !important;
            float: none !important;
            margin: 0 auto !important;
        }
    }


    .floatLeft {
        float: left;
        clear: left;
        left: 5%;
    }
    .floatRight {
        float: right;
        clear: right;
        right: 5%;
    }
    @media (max-width:1200px) {
        .floatLeft.switch {
            float: right;
            clear: right;
            left: -5%;
        }
        .floatRight.switch {
            float: left;
            clear: left;
            right: -5%;
        }
    }


/* ==========================================================================
    Floating Photos
    ========================================================================== */

.photoBorder {
    position: relative;
}
    .photoBorder:after {
        content: ' ';
        position: absolute;
        border: 8px solid #fff;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

#photoCooking {
    width: 110%;
    height: 110%;
    margin: -5%;
}

#photoDabba {
    position: relative;
    width: 120%;
    height: 120%;
    margin: -15%;
    border-radius: 50%;
    box-shadow: 0.8em 1.2em 2em 1em rgba(0,0,0,0.8);
}

.accentImage {
    display: block;
    margin: 14% auto 10%;
    max-width: 350px;
    vertical-align: middle;
}
    #photoMortar {
        width: 60%;
    }
    #photoChilies {
    }
    #photoCinnamon {
    }



.textBox {
    position: relative;
    padding: 3em 3.3em;
    background: #fff;
    z-index: 5;
    box-shadow: 0 .4em .5em rgba(0,0,0,0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    .textBox:after {
             content: " ";
             position: absolute;
             border: 1px solid #ff7900;
             top: 0.7em;
             right: 0.7em;
             bottom: 0.7em;
             left: 0.7em;
             z-index: -1;
         }

#recipeCards {
    display: block;
    padding: 3em 0;
}
    #recipeCards li {
        list-style-type: none;
        display: inline-block;
        width: 30%;
        margin: 0 1%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
        .cardInfo {
            position: relative;
            display: inline-block;
            width: 100%;
            background: #fff;
            /*margin-top: -1em;*/
            padding: 2.5em 1.5em;
            margin-top: -1.5em;
            z-index: 1;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
            .cardInfo > h4, .cardInfo > p {
                margin: 0;
                padding: 0;
            }
            .cardInfo:after {
                content: ' ';
                position: absolute;
                top: 0.7em;
                right: 0.7em;
                bottom: 0.7em;
                left: 0.7em;
                border: 1px solid #77110f;
                z-index: -1;
            }



.recipeSummary ul li {
    display: inline-block;
    padding: 0.2em 0.7em;
    font-size: 0.9em;
    color: #555;
    /*font-style: italic;*/
}
    .recipeSummary ul li:first-child, .recipeSummary ul li:nth-child(2) {
        border-right: 2px solid #186b8e;
    }
    .recipeSummary ul li:nth-child(4) {
        display: block;
    }

#recipeContainer {
    position: relative;
    background: #fff;
    border: 1px solid #77110f;
    /*padding: 3em;*/
    width: 94%;
    left: 1%;
}
    #ingredients {
        display: inline-block;
        vertical-align: top;
        width: 27%;
        left: 0;
        float: left;
        border: 1px solid #77110f;
        background: #f9f6f1;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: -3% 0 0 -2%;
    }
        #ingredients h3 {
            font-size: 1.3em;
            background-color: #77110f;
            color: #fff;
            padding: 1em;
            margin: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        #ingredients h5 {
            padding: 0 5%;
            margin: 1.2em 0 -0.7em;
        }
        #ingredients ul {
            list-style: none;
            text-align: left;
            width: 100%;
            display: inline-block;
            padding: 1em 9% 2em 9%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
            #ingredients ul li {
                padding: .4em 0;
                line-height: 1.2em;
                border-bottom: 1px solid #cacaca;
            }
                #ingredients ul li:last-child {
                    border-bottom: none;
                }
        #ingredients hr {
            border: none;
            border-top: 1px solid #77110f;
        }
    #steps{
        display: inline-block;
        width: 74%;
        padding: 2em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
        #steps ul {
            list-style: none;
            text-align: left;
        }
            #steps ul li {
                margin: 1.5em 2%;
                display: inline-block;
                vertical-align: top;
                clear: both;
                width: 45%;
            }
            #steps ul img {
                width: 140px;
                height: auto;
                margin: 0 0 0.9em 1em;
                float: right;
                border: 1px inset #186b8e;
            }
                @media (max-width:500px) {
                    #steps ul img {
                        float: none;
                        display: block;
                        margin: 0.7em auto;
                    }
                }
        #steps p {
            text-align: left;
        }
        #steps hr {
            border: none;
            border-top: 1px solid #faa602;
            margin: 2em 0;
        }




    button {
        display: inline-block;
        margin: 1em auto;
        padding: 0.5em 1.3em;
        border: 1px solid #186b8e;
        font-style: italic;
        text-transform: uppercase;
        letter-spacing: 1px;
        background: #fff;
    }
        button.small {
            font-size: 0.8em;
            margin: 1em auto .5em;
            padding: 0.3em 1em;
        }
        button:hover, button:focus {
            color: #fff;
            border-color: #fff;
            background: #114b64;
        }
        button:active {
            background: #0c3647;
        }
            button img {
                display: inline;
                vertical-align: middle;
                width: 1em;
                height: 1em;
                background: #000;
                border-radius: 2px;
                margin: -0.2em 0 0 .4em;
            }



footer {
    position: relative;
    /*min-height: 20em;*/
    width: 100%;
    padding: 3em;
    background: #333;
    border-top: 10px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    #footerInner > * {
        color: #fff !important;
    }
        #footerInner h2 {
            font-size: 1.4em;
            margin-bottom: 0.5em;
        }
        #footerInner h2:after {
            background: #333;
        }
    #footerInner {
        display: block;
        margin: 0 auto;
        max-width: 1400px;
    }
        #footerInner .column4 {
            vertical-align: top;
        }
    footer button {
        color: #fff;
        background: #114b64;
    }
    footer button:hover {
        background: #0c3647;
    }
    footer button:active {
        background: #114b64;
}

    #share {
        margin: 1.5em auto 1em;
        width: 100%;
    }
    #share > a {
        height: 40px;
        width: 40px;
        display: inline-block;
        overflow: hidden;
        background-image: url("../img/spritesSocialMedia.png");
        opacity: 1;
    }
    #share a:hover {
        opacity: 0.5;
    }
          #facebook { background-position: 0 0; }
           #twitter { background-position: -40px 0;}
        #googlePlus { background-position: -80px 0; }
          #linkedIn { background-position: -120px 0; }







/* ==========================================================================
   Breakpoints
   ========================================================================== */



/* Large Screens - Normal Definition */
/*@media only screen and (min-width: 1801px) {*/
    /*html { font-size: 131.25%; *//* 21px *//*}*/

/*}*/
/* Large Screens - High Retina*/
/*@media*/
    /*only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1801px),*/
    /*only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1801px),*/
    /*only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1801px),*/
    /*only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1801px),*/
    /*only screen and (                min-resolution: 192dpi) and (min-width: 1801px),*/
    /*only screen and (                min-resolution: 2dppx)  and (min-width: 1801px) {*/
    /*html { font-size: 131.25%; *//* 21px *//*}*/
/*}*/



@media (max-width: 1300px) {
    #heroImage {
        margin-top: 2em;
    }
    section {
        width: 90%;
    }
    #steps ul li {
        display: block;
        margin: 2% auto;
        width: 90%;
        max-width: 600px;
    }
}


@media (max-width: 1024px) {

    section {
        width: 100%;
    }
    #heroImage {
        margin-top: 3em;
    }
    .textBox.recipeMain {
        margin-top: 0;
    }
    footer .column4 {
        display: block;
        margin: 3em auto;
        width: 100% !important;
        border: none !important;
    }
}

@media (max-width: 900px) {
    #logo {
        display: block;
        position: relative;
        margin: 0 auto;
        float: none;
        text-align: center;
    }
}


/*@media only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 767px),*/
       /*only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 767px),*/
       /*only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 767px),*/
       /*only screen and (        min-device-pixel-ratio: 2)      and (max-width: 767px),*/
       /*only screen and (                min-resolution: 192dpi) and (max-width: 767px),*/
       /*only screen and (                min-resolution: 2dppx)  and (max-width: 767px) {*/
@media (max-width: 767px) {
    header {
        height: 4em;
    }
    #logo {
        display: block;
        margin: 0 auto 0 0;
        height: 2em;
    }
    #heroImage {
        margin-top: 4em;
    }
    #photoCooking, #photoDabba, .recipeHero {
        width: 100%;
        height: auto;
        margin: 0 auto -1em;
        display: block;
    }
    .accentImage {
        max-width: 60%;
    }
    .photoBorder:after {
        top: 0.7em;
        right: 0.7em;
        left: 0.7em;
        border-bottom: none;
    }

    #recipeCards li {
        display: block;
        width: 100%;
        margin: 0;
    }
        #recipeCards li > * {
            display: inline-block;
            vertical-align: middle;
            width: 45%;
            height: auto;
            margin: 0 auto 1em;
        }
            #recipeCards .cardInfo {
                margin-left: -5%;
            }
            #recipeCards ul li button:hover {
                background: black;
            }

    #ingredients {
        display: block;
        width: 89%;
        float: none;
        margin: -2em auto 0;
    }
    #steps{
        width: 100%;
        padding: 3em;
    }

    .floatRight, .floatLeft {
        right: 0;
        left: 0;
        float: none;
        clear: both;
    }


    #footerInner > * {
        padding: 1em 0;
        border: none;
    }
}



@media (max-width: 500px) {
    #logo {
        height: 1.4em !important;
        padding: 1.3em 1em;
    }
    #recipeCards li > * {
        display: block;
        width: 68%;
        margin: 0 auto;
    }
    #recipeCards .cardInfo {
        width: 68%;
        margin: -1.5em auto 1em;
    }
    footer {
        padding: 2em 1em;
    }
}



@media (min-width: 2001px) {
    html { font-size: 118.75%; /* 19px */ }

}

@media (max-width: 2000px) {
    html { font-size: 112.5%; /* 18px */ }

}

@media (max-width: 1400px) {
    html { font-size: 106.25%; /* 17px */ }
}

@media (max-width: 1024px) {
    html { font-size: 100%; /* 1em, 16px */ }

}

@media (max-width: 767px) {
    html { font-size: 93.75%; /* 15px */ }

}






/* ==========================================================================
   PROPER Breakpoints (IMPLEMENT THESE)
   ========================================================================== */


@media only screen and (min-width: 320px) {

     /*Small screen, non-retina */

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) {

     /*Small screen, retina, stuff to override above media query */

}

/*@media only screen and (min-width: 700px) {*/

    /* Medium screen, non-retina */

/*}*/

/*@media*/
/*only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 700px),*/
/*only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 700px),*/
/*only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 700px),*/
/*only screen and (        min-device-pixel-ratio: 2)      and (min-width: 700px),*/
/*only screen and (                min-resolution: 192dpi) and (min-width: 700px),*/
/*only screen and (                min-resolution: 2dppx)  and (min-width: 700px) {*/

    /* Medium screen, retina, stuff to override above media query */

/*}*/

/*@media only screen and (min-width: 1300px) {*/

    /* Large screen, non-retina */

/*}*/

/*@media*/
/*only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),*/
/*only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),*/
/*only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),*/
/*only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),*/
/*only screen and (                min-resolution: 192dpi) and (min-width: 1300px),*/
/*only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) {*/

    /* Large screen, retina, stuff to override above media query */

/*}*/





/* ==========================================================================
   Tools
   ========================================================================== */

.cover {
    /*background: url(../img/bgPurple.jpg) no-repeat fixed 50% 65%;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*.clearfix:before,*/
/*.clearfix:after {*/
    /*content: " "; *//* 1 */
    /*display: table; *//* 2 */
/*}*/

/*.clearfix:after {*/
    /*clear: both;*/
/*}*/

.borderBox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}






/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}